@using MyLibrary.Data.ViewModels
@model ShelfToBooks;

@{
    ViewData["Title"] = "Index";
    int? id = ViewData["ShelfId"] as int?;
}


<h1>Index</h1>
@if (id != null)
{
    // עוד שינוי חשוב, שהרי צריך שני קישורים
    <p>
        <a asp-action="CreateSet" asp-route-id="@id">Add New Set</a>
    </p>
    <p>
        <a asp-action="Create" asp-route-id="@id">Add New Book</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.List.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.List.First().Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.List.First().Width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.List.First().SetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.List.First().Shelf)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.List) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shelf.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
